.git
.pytest_cache
.ruff_cache
__pycache__/
*.py[cod]
*.egg-info/
build/
dist/
.coverage
htmlcov/

.env
.venv/
env/
venv/

idp.data/
exchange/
images/
images.bkp/
transcriptions/
images.log
images_*.txt
export_geo.csv
